<body>
    <div class="container mt-2">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Chi tiết Tour</li>
                </ol>
            </nav>
            <div class="text-center">
                <h2>Giới Thiệu</h2>
                <p>---------</p>
            </div>
            <div class="lh-lg">
                <p><strong>CÔNG TY CỔ PHẦN DU LỊCH INTERTOUR VIỆT NAM</strong><br>

                    Tên quốc tế: Viet Nam Intertour Travel Corporation. <br>

                    Trụ sở chính: 115 Nguyễn Thái Bình, Phường Nguyễn Thái Bình, Quận 1, Thành phố Hồ Chí Minh, Việt
                    Nam. <br>
                    <img src="./assets/img/about/about-1.jpg" class="img-fluid">
                    GPKD: 0305032648 – thành lập từ năm 2007
                    <img src="./assets/img/about/about-2.jpg" class="img-fluid">
                    GPLHQT: 79-350/2014/TCDL – GP LHQT <br>

                    <strong>TỔNG QUAN </strong><br>

                    Vietnam Intertour luôn dẫn đầu là một doanh nghiệp lữ hành hoạt động chuyên trong lĩnh vực cung cấp
                    dịch vụ du lịch. Với bề dày phát triển trên 15 năm, chúng tôi tự hào với những thành quả mà mình đã
                    đạt được: <br>

                    <strong>THƯƠNG HIỆU UY TÍN NĂM 2013, 2014, 2015, 2016, 2017,2018 DO HIỆP HỘI DOANH NGHIỆP VIỆT NAM
                        CÔNG NHẬN <br>

                        TOP 5 DOANH NGHIỆP VVN HOẠT ĐỘNG OUTBOUND HIỆU QUẢ NHẤT TP.HCM 2013 – DO SỞ VHTT VÀ DU LỊCH
                        TPHCM
                        CÔNG NHẬN <br>

                        THƯƠNG HIỆU VIỆT ĐƯỢC YÊU THÍCH NHẤT 2014 – 2015 – 2016-2017 – 2018 DO BẠN ĐỌC BÁO SÀI GÒN GIẢI
                        PHÓNG BÌNH CHỌN <br>

                        TOP TEN DU LỊCH HCM 2016-2017-2018 <br>

                        BẰNG KHEN UBND TPHCM NHÂN DỊP KỶ NIỆM 10 NĂM THÀNH LẬP INTERTOUR 2017. </strong><br>
                    Với đội ngũ nhân viên trẻ tuổi, năng động, sáng tạo, được đào tạo chuyên sâu từ các trường đại học
                    về chuyên ngành du lịch uy tín trong và ngoài nước, bên cạnh hệ thống nhân sự chủ chốt leader có
                    nhiều năm kinh nghiệm trong nghề, Intertour luôn nghiêm khắc đặt ra cho mình những giá trị dịch vụ
                    then chốt: <br>
                    <strong>- “Bạn đồng hành chân thành”</strong> với mỗi một Quý khách hàng <br>
                    <strong>- “Đối tác đáng tin cậy”</strong> với từng Quý công ty <br>
                    <strong>- “Người kết nối cho sự phát triển chung”</strong> của xã hội <br>
                    <img src="./assets/img/about/about-3.png" class="img-fluid">
                    Chúng tôi luôn không ngừng xem xét, cải thiện từng chất lượng dịch vụ để cho ra đời các sản phẩm du
                    lịch mới đa dạng, hấp dẫn, khởi hành định kỳ hàng tuần; thiết kế các tour du lịch trọn gói theo yêu
                    cầu khách hàng cho mọi Quý khách hàng doanh nghiệp, cũng như các nhóm gia đình nho nhỏ… Bên cạnh đó,
                    Intertour còn tổ chức các chương trình Tour đặc biệt theo tính chất sự kiện, các chương trình du
                    lịch MICE, Incentive… nhằm đáp ứng mọi nhu cầu của Quý khách. <br>

                    Intertour tự tin khi cung cấp cho Quý khách hàng không chỉ đơn thuần là những chuyến đi mà quan
                    trọng hơn là thái độ phục vụ nhiệt tình, dịch vụ tư vấn tận tâm để định hướng sự lựa chọn của bạn
                    đến các chương trình du lịch phù hợp nhất. Đây cũng chính là điều tạo nên sự khác biệt của chúng
                    tôi, giúp chúng tôi trở thành “bạn đường” tin cậy cho mỗi một Quý khách hàng. <br>

                    Trong tương lai, Intertour cam kết luôn phấn đấu không ngừng để tiến đến mục tiêu hoàn thiện sản
                    phẩm, phát triển dịch vụ, ngày càng nâng cao chất lượng du lịch với giá thành hợp lý nhất thị
                    trường. <br>
                </p>
            </div>
        </div>
    </div>
</body>