<body class="bg-body-secondary">
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-8 col-sm-12 bg-white rounded p-2 ">
                <h3>Điền Thông Tin Liên Hệ</h3>
                <div class="row mt-2">
                    <div class="form-group col-md-12">
                        <label for="">Họ và tên *</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group col-md-6">
                        <label for="">Email</label>
                        <input class="form-control" type="email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Số Điện Thoại</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <br>
                <h5>Hãy cho chúng tôi biết Quý khách cần gì?</h5>
                <hr>
                <div class="row mt-2">
                    <div class="form-group col-md-6">
                        <input type="checkbox">
                        <label for="">Hút Thuốc</label>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="checkbox">
                        <label for="">Phòng cao tầng</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group col-md-6">
                        <input type="checkbox">
                        <label for="">Trẻ em hiếu động</label>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="checkbox">
                        <label for="">Ăn chay</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group col-md-6">
                        <input type="checkbox">
                        <label for="">Có người khuyết tật</label>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="checkbox">
                        <label for="">Phụ nữ mang thai</label>
                    </div>
                </div>
                <hr>
                <h5>Chọn Phương Thức Thanh Toán</h5>
                <select name="" class="container-fluid p-2 rounded border-0 bg-body-secondary" id="">
                    <option value="">Tiền Mặt</option>
                    <option value="">Thẻ Tín Dụng Nội Địa</option>
                    <option value="">Thẻ Visa</option>
                    <option value="">MoMo</option>
                    <option value="">Thanh Toán Qua Ngân Hàng</option>
                </select>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Thanh Toán
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Báo</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Bạn Đã Thanh Toán Thành Công Đơn Hàng
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                <a href="home.html"><button type="button" class="btn btn-primary">Tiếp Tục</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 bg-white rounded p-2 ms-2">
                <h3>Thông tin đặt Tour</h3>
                <div class="row">
                    <img src="img/product/pro-1.jpg" class="img-fluid">
                    <h5 class="">(HCM-ZH) Tour Trung Quốc: Trịnh Châu – Khai Phong – Lạc Dương 7N6Đ</h5>
                    <p>Thời gian: 3 ngày 2 đêm</p>
                    <p>Di chuyển: Máy bay, Ô tô</p>
                    <p>Điểm xuất phát: TP.HCM</p>
                    <p>Tổng tiền: <strong class="text-danger">19,990,000 <u>đ</u></strong></p>
                </div>
            </div>
        </div>
    </div>
</body>