<body class="bg-body-secondary">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liên Hệ</li>
                </ol>
            </nav>
        </div>
        <div class="row bg-white">
            <h2>Thông Tin Trụ Sở HCM</h2>
            <hr>
            <div class="col-md-4 col-sm-12">
                <div class="bg-body-secondary text-center rounded">
                    <h5>Địa Chỉ Trụ Sở</h5>
                    <p>115 Nguyễn Thái Bình, phường Nguyễn Thái Bình, Quận 1, Thành phố Hồ Chí Minh</p>
                </div>
                <div class="bg-body-secondary text-center rounded">
                    <h5>Thông Tin Chi Nhánh Miền Tây</h5>
                    <p>112B Đường 3 Tháng 2, Phường Hưng Lợi, Quận Ninh Kiều, Tp. Cần Thơ</p>
                </div>
                <div class="bg-body-secondary text-center rounded">
                    <h5>Số Điện Thoại</h5>
                    <p>028.3822.9999</p>
                </div>
                <div class="bg-body-secondary text-center rounded">
                    <h5>FAX:</h5>
                    <p>028.3914.2789</p>
                </div>
                <div class="bg-body-secondary text-center rounded">
                    <h5>EMAIL:</h5>
                    <p>welcome{{"@"}}intertour.com.vn</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15678.214185204044!2d106.68080016360538!3d10.768850036106063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3f8d1e176b%3A0x862a6dd7fc325ca1!2zxJAuIE5ndXnhu4VuIFRow6FpIELDrG5oLCBOZ3V54buFbiBUaMOhaSBCw6xuaCwgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1710884634140!5m2!1svi!2s"
                    width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3>Form Liên Hệ</h3>
                <div class="form-group">
                    <input type="text" class="form-control mt-3" placeholder="Họ và tên">
                    <input type="text" class="form-control mt-3" placeholder="Email">
                    <input type="text" class="form-control mt-3" placeholder="Địa chỉ">
                    <input type="text" class="form-control mt-3" placeholder="Số Điện thoại">
                    <textarea name="" class="form-control mt-3" placeholder="Nội dung" id="" rows="3"></textarea>
                </div>
                <button type="submit" class="rounded bg-custom pt-2 pb-2 pe-4 ps-4 mt-2 text-white">Gửi</button>
            </div>
        </div>
    </div>
</body>